name: Go

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Sage
        uses: einride/sage/actions/setup@master
        with:
          go-version-file: go.mod

      - name: Make
        run: make

      - name: Dry-run semantic-release
        run: make semantic-release repo=${{ github.repository }} dry=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
